
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<br />
<div>
    <p class="lead">Welcome to ACME Proucts. Please create as many items as you want.</p>
    <p>
        The purpose of this site was to learn the basics of how to utilize entity framework and MVC to create a website that allows users to perform CRUD operations. 
    </p>
</div>
